.cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.cards>li {
    background-color: lightblue;
    width: 300px;
    height: 240px;
    list-style: none;
    text-align: center;
    align-content: center;
    font-size: 45px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.pagination>li{
    width: 42px;
    height: 42px;
    align-content: center;
    text-align: center;
    list-style: none;
    cursor: pointer;
    background-color: lightgreen;
    font-size: 20px;
    
}